<div class="events">
  <h1><%= @user.name %>'s Hosted Events</h1>
  <%= render @user.hosted_events %>
</div>
<div class="events">
  <h1><%= @user.name %>'s Attended Events</h1>
  <%= render partial: 'events/events_separated', locals: {events: @user.attended_events}%>
  
</div>


