<h1>Upcoming Events</h1>
<div class="events upcoming-events">
  <%= render events.upcoming.order(date: :asc) %>
</div>

<h1>Past Events</h1>
<div class="events past-events">
  <%= render events.past.order(date: :desc) %>
</div>